.p-name > a {
    color: #828282;
}

.p-name > a:visited {
    color: #828282;
}

.highlight, td > pre {
    float: left;
}
.highlight, pre, code {
    margin-bottom:1px;
    margin-right:1px;
}

.site-title {
    font-family: sans-serif;
    font-size: 2em;
}
.site-title:hover {
    text-decoration: none;
    text-shadow: 6px 3px 6px #999;
}
.site-title:visited {
    color: #000;
}

#elephant-head {
    letter-spacing: -5px;
    font-weight: 500;
}
#elephant-body {
    letter-spacing: -11px;
    font-weight: 900;
}
#elephant-tail {
    font-weight:100;
}

pre, code {
    background-color: #fafafa;
}

td {
    vertical-align: top;
    white-space: nowrap
}

td.primitive {
    vertical-align: middle;
}

td.primitive > code {
    font-weight: bold;
}

.sc-ref {
    font-weight: normal;
    float: right;
}
