.p-name > a {
    color: #828282;
}

.p-name > a:visited {
    color: #828282;
}

.highlight, td > pre {
    float: left;
}
.highlight, pre, code {
    margin-bottom:1px;
    margin-right:1px;
}

pre, code {
    background-color: #fafafa;
}

td {
    vertical-align: top;
    white-space: nowrap
}

td.primitive {
    vertical-align: middle;
}

td.primitive > code {
    font-weight: bold;
}
